<?php
date_default_timezone_set("Asia/Manila");

$host = "192.168.14.22";
$user = "pftomutlo";
$password = "Duosone123";
$database = "ihris_test";

$mysqli = new mysqli($host, $user, $password, $database);
$mysqli->set_charset("utf8");
